@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #1160d8;
  --accent: #64748b;
  --light: #f8f7f7;
  --grey: #c7c7c7;
  --yellow: #cdee10;
  --dark: #111111;
  --blue: #1160d8;
  --purple: #af40ff;
  --violet: #5b42f3;
  --cyan: #00ddeb;

  --dark-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  --fw-normal: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--light);
}
.wrapper {
  overflow: hidden;
}
.main {
  flex: 1;
}
mark.text-bold {
  font-weight: var(--fw-bold);
}
/* header - Start */
.header {
  position: sticky;
  top: 0;
  box-shadow: var(--dark-shadow);
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.header__link {
  font-size: 1.25rem;
  font-weight: var(--fw-normal);
}
.header__link--main {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}
.header__link-wrap {
  display: flex;
  flex-direction: row;
  column-gap: 0.75rem;
}
/* header - End */
/* Sidebar - Start */
.sidebar {
  margin-top: 40px;
}
.sidebar__list {
  list-style: none;
  padding-left: 0;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 0.75rem;
}
.sidebar__link {
  font-weight: var(--fw-semi-bold);
  text-decoration: none;
}
/* Sidebar - End */
/* btn - Start */
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
}
.btn__wrap {
  display: flex;
  flex-direction: row;
  column-gap: 0.75rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 12px;
}
/* btn - End */
/* card - Start */
.card {
  transition: all 0.4s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}
/* card - End */
/* array-display - Start */
.array-display__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 8px;
}
.array-display__sub-displays {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
  column-gap: 1rem;
}
/* .array-display__sub-displays .array-display__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  text-align: center;
} */
.array-display__item {
  text-align: center;
}
.array-display__item-trend {
  padding: 4px 2px;
  background-color: var(--grey);
}
.array-display__item-trend {
  transition: all 0.2s ease-in-out;
  transition: border none;
}
.array-display__item-trend.left-active {
  background-color: var(--yellow);
  color: var(--dark);
  font-weight: var(--fw-bold);
}
.array-display__item-trend.right-active {
  border: 0.25rem dashed var(--accent);
}
.array-display__steps {
  font-size: 1.25rem;
}
/* array-display - End */
/* code-block - Start*/
.code-block__line {
  white-space: pre;
}
.code-block__line--highlight {
  background-color: var(--yellow);
  border-radius: 4px;
}
/* code-block - End */

th,
td {
  border: 1px solid var(--dark);
  padding: 20px !important;
  outline: var(--grey) solid 1px !important;
}

.navigation {
  display: inline-block;
  transition: all 0.2s ease-in;
  transform-origin: right center;
}

.navigation:hover {
  transform: scale(1.5);
}

#content {
  display: flex;
  flex-direction: row;
}
.CodeExp {
  background-color: lightcyan;
  border: 2px;
}
.LinkText {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.Download {
  background-image: linear-gradient(
    var(--light),
    var(--purple),
    var(--violet),
    var(--light)
  );
  border-radius: 8px;
  color: #ffffff;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  margin-left: 10px;
  padding: 3px;
  text-decoration: none;
}
/* app - Start */
.app {
  margin-top: 5.75rem;
}
.app__image {
  width: 56%;
}
/* sorting - Start */
.sorting {
  margin-top: 6rem;
}
.sorting__list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 0.75rem;
}
/* sorting - End */
