:root {
    --grey: #f0f0f0;
}

.array-display__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    /* gap: 4px; */
    row-gap: 20px;
}

.array-display__item {
    /* background-color: var(--grey); */
    /* width: 12px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
}

.array-display__item-trand {
    background-color: var(--grey);
}